# Backend - Java/Maven
backend/target/
backend/.mvn/
backend/bin/
backend/.settings/
backend/.classpath
backend/.project
backend/mvnw
backend/mvnw.cmd
backend/help.md

# Frontend - Angular/Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/
frontend/package-lock.json

# IDEs
.idea/
.vscode/
*.iml
.metadata/

# Sistema
.DS_Store
Thumbs.db
.git/
.gitignore

# Otros
ENTREGA_DEMO/
*.log
*.tmp
